@import "../../config/scss-vars.scss";

.symbol-container {
  background-color: $background-graph;
  display: flex;
  height: calc(100vh - #{$header-height});
  .row-graph {
    flex: 8;
    display: flex;
    flex-direction: column;
    height: 100%;

    .order-tab-container {
      flex: 2;
      height: 100%;
    }
  }
}
