@import '../../config/scss-vars.scss';

.order-tab-container {
    background-color: $background-order;
    .form-order-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;

        
        mat-form-field {
            width: 100%;

            .mat-form-field-flex{
                background-color: $background-input;
            }
        }

        button {
            width: 100%;

            &:disabled{
                background-color: $yellow-disabled;
            }

        }
    }
}