$header-height: 72px;

$white-background: #fafafa;
$ligth-gray-background: #f5f5f5;
$border-input: #c9cbce;
$positive-green: #12cc83;
$negative-red: #d24358;
$gray-text: #757f8e;
$header-background: #12161c;
$yellow-button: #f1cb2d;
$background-graph: #1b1d23;
$background-order: #1e2026;
$background-input: #292d34;
$text-input-dark: #818b98;
$yellow-disabled: #867530;
